<ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="terminer">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>Terminer</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="encours">
        <ion-icon name="checkmark"></ion-icon>
        <ion-label>En cours</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="afaire">
        <ion-icon name="list"></ion-icon>
        <ion-label>A faire</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="nontraiter">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Non traiter</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="interdit">
        <ion-icon name="close-circle-outline"></ion-icon>
        <ion-label>Interdit</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
