  #name{
    font-size: 30px;
    font-weight:bold;
    color: #F9904C;
    display: block;
    text-align: center;
  }
  
  span{
    color:#F9904C;
  }
  
  #description{
    display: block;
    text-align: center;
  }
  
  /* Pour avoir un contenue a peu prés centrer */
  .padding {
    padding: 5%;
  }
  
