<ion-content>

  <ion-toolbar>
    <ion-title color="primary" size="small">Inscription</ion-title>
  </ion-toolbar>

  <form>

    <div>

      <ion-card class="padding">

        <ion-item>
          <ion-label position="floating">NOM :</ion-label>
          <ion-input placeholder="BALDASERONI" type="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Prenom :</ion-label>
          <ion-input placeholder="Sebastien" type="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Date d'anniversaire :</ion-label>
          <ion-input placeholder="Sebastien" type="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Adresse :</ion-label>
          <ion-input placeholder="Ville"></ion-input>
          <ion-input placeholder="Numéro de la voie"></ion-input>
          <ion-input placeholder="Rue"></ion-input>
          <ion-input placeholder="Code postale"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email :</ion-label>
          <ion-input placeholder="truc@gmail.com" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mot de passe :</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmer votre mot de passe :</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>


        <ion-list>
          <ion-radio-group value="biff">
            <ion-list-header>
              <ion-label>Votre statut :</ion-label>
            </ion-list-header>

            <ion-item lines="none">
              <ion-label>Citoyen</ion-label>
              <ion-radio color="warning" slot="start" value="alpha"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Association</ion-label>
              <ion-radio color="warning" slot="start" value="bravo"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Entreprise</ion-label>
              <ion-radio color="warning" slot="start" value="chatlie" (click)="ngAfterViewInit()"></ion-radio>
            </ion-item>
            <ion-input id="entreprise" placeholder="Nom de l'entreprise" type="text"></ion-input>
            <ion-input id="entreprise" placeholder="Numero de siret" type="text"></ion-input>

          </ion-radio-group>
        </ion-list>


        <ion-button expand="block" color="primary" [routerLink]="['/tabs/tab2']">Valider</ion-button>
        <br>
        <ion-button color="primary" fill="outline" expand="block" type="submit" [routerLink]="['/connexion']">Retour
        </ion-button>

      </ion-card>

    </div>

  </form>

</ion-content>