<ion-content>

  <ion-toolbar>
    <ion-title color="primary" size="small">Mes signalements</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            A faire
          </ion-col>
          <ion-col id="centre">
            Nid de poule
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            Terminer
          </ion-col>
          <ion-col id="centre">
            Vendalisme
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            En cours
          </ion-col>
          <ion-col id="centre">
            Route barrée
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            Non traiter
          </ion-col>
          <ion-col id="centre">
            Dépôt sauvage d'ordures
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            Interdit
          </ion-col>
          <ion-col id="centre">
            Autre
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            interdit
          </ion-col>
          <ion-col id="centre">
            Vandalisme
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            En cours
          </ion-col>
          <ion-col id="centre">
            Nid de poule
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            A faire
          </ion-col>
          <ion-col id="centre">
            Autre
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            A faire
          </ion-col>
          <ion-col id="centre">
            Dépôt sauvage d'ordures
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            Terminer
          </ion-col>
          <ion-col id="centre">
            Nid de poule
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item [routerLink]="['/signallement']">
      <ion-grid>
        <ion-row>
          <ion-col id="italic" size="auto">
            En cours
          </ion-col>
          <ion-col id="centre">
            Autre
          </ion-col>
          <ion-col size="auto">
            date
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

</ion-content>