
#titre{
    display: block;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 205px;
}

#couleur{
    color: rgb(255, 26, 205);
}

#italic{
    font-style: italic;
}

#centre{
    display: block;
    text-align: center;
}
