<ion-content>

  <ion-toolbar>
    <ion-title color="primary" size="small">Récapitulatif du signalement</ion-title>
  </ion-toolbar>

  <!--Pour le logo-->

  <div class="logo">
    <ion-icon color="success" name="checkbox-outline"></ion-icon>
  </div>


  <div class="padding">

    <!-- "ion-item" c est pour proposer du contenue en lignen -->
    <ion-card>
      <p> Votre formulaire a bien été envoyer. <br><br>
        Merci d'avoir participer a l'amelioration de notre region :)</p>
    </ion-card>

    <br>

    <ion-button shape="round" expand="block" [routerLink]="['/tabs/tab1']">Rien de plus normal</ion-button>

  </div>

</ion-content>