<ion-content>

  <ion-toolbar>
    <ion-title id="titre" color="primary" size="small">Signallement</ion-title>
  </ion-toolbar>

  <ion-card>

    <ion-item>
      <ion-grid>
        <ion-row>
          <img height="250px" src="../assets/carte-guyane.jpg">
        </ion-row>
        <br>
        <ion-row>
          <ion-label color="tertialy">Localisation</ion-label>
        </ion-row>
      </ion-grid>
    </ion-item>

    <div class="padding">
      <p> - Type de signallement</p>
      <p> - Media</p>
      <p> - Détails précisés par l'utilisateur</p>
      <p> - date</p>

      <br>
      <p>Commentaire de l'admin : </p>
      <br>
    </div>
    <br>
    <ion-button expand="block" [routerLink]="['/tabs/tab1']">Retour</ion-button>
  </ion-card>

</ion-content>